
<% if @user.errors.any %>

<ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
    <% end %>
</ul>

<% end %>
<%= form_with( model: @user, local: true)  do |f|%>

<%= f.label :password %>

