<div >
    <label for="logoUrl"> Logo Url:</label>
    <br />
    <input type="text" name="logoUrl" placeholder="Cohort's logo" />
</div>
<div>
    <label for="name"> Name: </label>
    <br />
    <input type="text" name="name" placeholder="cohort's Name" />
</div>
<div>
    <label for="members"> Members</label>
    <br />
    <textarea name="members" id="member" cols="30" rows="10"
        placeholder="Enter team member names separeted by commas"></textarea>

    <input type="submit" style="margin-left: 85%" class="button btn btn-outline-primary" />
</div>